<nav>
	<form action="#" method="get">
		<!--  Publish Date -->
		<span th:text="#{film.PublishDate}"></span>
		<div class="input-control select full-size">
			<select name="searchByYear">
				<option value="2005">2005</option>
				<option value="2006">2006</option>
				<option value="2007">2007</option>
				<option value="2008">2008</option>
				<option value="2009">2009</option>
				<option value="2010">2010</option>
				<option value="2011">2011</option>
				<option value="2012">2012</option>
				<option value="2013">2013</option>
				<option value="2014">2014</option>
				<option value="2015">2015</option>
				<option value="
						all" selected="selected" th:text="#{film.All}" />
			</select>
		</div>
		<!--  Country -->
		<span th:text="#{film.Country}"></span>
		<div class="input-control select full-size">
			<select name="country">
				<option value="VN" th:text="#{film.Country.VN}" />
				<option value="JP" th:text="#{film.Country.JP}" />
				<option value="CN" th:text="#{film.Country.CN}" />
				<option value="KOR" th:text="#{film.Country.KOR}" />
				<option value="
						all" selected="selected" th:text="#{film.All}" />
			</select>
		</div>

		<!--  OrderBy -->
		<span th:text="#{film.OrderBy}"></span>

		<div class="input-control select full-size">
			<select name="orderBy">
				<option value="view" th:text="#{film.View}" />
				<option value="rate" th:text="#{film.Rate}" />
				<option value="comment" th:text="#{film.Comment}" />
				<option value="
						all" selected="selected" th:text="#{film.All}" />
			</select>
		</div>

		<!--  Category -->
		<span th:text="#{film.Category}"></span>

		<div class="input-control select full-size">
			<select name="category">
				<option value="action" th:text="#{film.Category.Action}" />
				<option value="funny" th:text="#{film.Category.Funny}" />
				<option value="myth" th:text="#{film.Category.Myth}" />
				<option value="martialArt" th:text="#{film.Category.MartialArt}" />
				<option value="" th:text="#{film.Category.Psychology}" />
				<option value="" th:text="#{film.Category.War}" />
				<option value="" th:text="#{film.Category.Anime}" />
				<option value="" th:text="#{film.Category.Horrnor}" />
				<option value="" th:text="#{film.Category.Documentaries}" />
				<option value="" th:text="#{film.Category.Adventure}" />
				<option value="
						all" selected="selected" th:text="#{film.All}" />
			</select>
		</div>
	</form>
</nav>


